.chat-main__header__content
  .chat-main__header__content__groupname
    =@group.name
  .chat-main__header__content__editbutton
    =link_to "Edit", edit_group_path(@group)
.chat-main__header__members
  -@group.users.each do |user|
    = user.name
