.chat-main__header__content
  .chat-main__header__content__groupname
    チャットグループ名
  .chat-main__header__content__editbutton{href: ''}
    Edit
.chat-main__header__members
  -@group.users.each do |user|
    = user.name
